$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

.col-lg-4{
    width: 100%;

    @media screen and (min-width: $md) {
        width: 33%;
    }
   
}
.col-lg-2{
    width: 50%;


    @media screen and (min-width: $md) {
        width: 16.5%;
    }
    
   
}


.footer{
    background-color: #1868b7;
    color: #FFFFFF;
    .container{
        width: 100%;
        padding:50px 25px;
        margin: 40px 0 0 0;
        @media screen and (min-width: $sm) {
            padding:50px 8%;
        }
        .head{
            width: 100%;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            @media screen and (min-width: $md) {
                flex-direction:row;
            }
            
            .subscribe{
                width: 100%;
                @media screen and (min-width: $md) {
                    width:45%;
                }
                h4{
                    margin-bottom: 20px;
                    font-size:20px;
                }
                .subscribeInput{
                    display:flex;
                    justify-content:space-between;
                    align-items:center;
                    margin: 20px 0;
                    .input{
                        width:70%;
                        input{
                            width: 100%;
                            background-color: #FFFFFF;
                            border: none;
                            outline: none;
                            padding:15px;
                            border-radius:10px;
                            font-size:18px;
                        }
                    }
                    button{
                        background-color:#2080e2;
                        padding:15px 30px;
                        outline:none;
                        border: none;
                        color:#fff;
                        border-radius:7px;
                        font-size:16px;
                        font-weight: bold;
                        width:100%;
                        margin: 0 10px;
                    }
                }

            }
            .community{
                width: 100%;
                @media screen and (min-width: $md) {
                    width:40%;
                }
                h4{
                    margin-bottom: 20px;
                    font-size:20px;
                }
                .socialLinks{
                    display: flex;
                    align-items: center;
                    .social{
                        width:50px;
                        height:50px;
                        border-radius: 10px;
                        background-color: #2080e2;
                        display: flex;
                        justify-content:center;
                        align-items: center;
                        margin: 0 10px;
                    }
                }
            }
        }
        hr{
            border-top: .1px solid #eeeeee12;
            outline: none;
            margin: 40px 0;
        }

        .middle{
            display: flex;
            flex-wrap: wrap;
            .col-lg-4{
                padding-right: 20px;
                display: flex;
                flex-direction:column;
                align-items: center;
                text-align: center;
                margin-bottom: 40px;
                @media screen and (min-width: $md) {
                    align-items: flex-start;
                    text-align: start;
                }
                h2{
                    margin-top:10px;
                }
                span{
                    margin: 20px 0;
                }
            }
            .col-lg-2{
                h4{
                    margin-bottom: 20px;
                }
                ul{
                    list-style: none;
                    li{
                        margin: 10px 0;
                        &:hover{
                            cursor: pointer;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .bottom{
            .row{
                width: 100%;
                display: flex;
                justify-content:space-between;
                align-items: center;
                span{
                    margin: 0 10px;
                }
            }
        }

    }    
}